In [ ]:
%load_ext sql

In [ ]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.11/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.11/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy==1.4.49) (3.2.2)

In [ ]:
%sql postgresql://user1:Dev12341234!@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

# RowData 생성 및 조회

In [ ]:
%%sql
CREATE TABLE raw_data.card_transaction (
    ta_ymd DATE,
    card_tpbuz_nm_1 VARCHAR(100),
    card_tpbuz_nm_2 VARCHAR(100),
    hour INT,
    sex VARCHAR(1),
    age INT,
    day INT,
    amt INT,
    cnt INT
);

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) Relation "card_transaction" already exists

[SQL: CREATE TABLE raw_data.card_transaction (
    ta_ymd DATE,
    card_tpbuz_nm_1 VARCHAR(100),
    card_tpbuz_nm_2 VARCHAR(100),
    hour INT,
    sex VARCHAR(1),
    age INT,
    day INT,
    amt INT,
    cnt INT
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql
COPY raw_data.card_transaction
FROM 's3://dev-project-2/card_consumption/card_data.csv'
IAM_ROLE 'arn:aws:iam::885532410811:role/redshifit.read.s3_maderyan'
FORMAT AS CSV IGNOREHEADER 1 DELIMITER ',' EMPTYASNULL BLANKSASNULL DATEFORMAT 'YYYYMMDD';

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
SELECT * FROM raw_data.card_transaction LIMIT 100

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
100 rows affected.

[(datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'F', 5, 5, 2094680, 37),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'F', 6, 5, 1314593, 32),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'F', 7, 5, 285878, 11),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'F', 9, 5, 355556, 5),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'M', 3, 5, 317124, 9),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'M', 4, 5, 1248475, 27),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'M', 5, 5, 1542245, 30),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'M', 6, 5, 2651054, 55),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'M', 7, 5, 2897858, 55),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 4, 'M', 8, 5, 499518, 11),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'F', 4, 5, 415041, 11),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'F', 5, 5, 677686, 14),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'F', 6, 5, 2127275, 46),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'F', 7, 5, 1012321, 27),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'F', 8, 5, 132602, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'M', 3, 5, 364127, 14),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'M', 4, 5, 2245375, 50),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'M', 5, 5, 2306244, 41),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'M', 6, 5, 4638034, 80),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'M', 7, 5, 1674872, 37),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'M', 8, 5, 467401, 9),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 5, 'M', 9, 5, 14979, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'F', 4, 5, 1015105, 16),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'F', 5, 5, 1098775, 21),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'F', 6, 5, 2012003, 37),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'F', 7, 5, 749655, 14),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'M', 3, 5, 296852, 9),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'M', 4, 5, 1197423, 30),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'M', 5, 5, 2906392, 59),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'M', 6, 5, 2865386, 59),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'M', 7, 5, 1956820, 30),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'M', 8, 5, 703018, 11),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 6, 'M', 9, 5, 49749, 5),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'F', 3, 5, 182899, 5),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'F', 4, 5, 729172, 14),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'F', 5, 5, 1327846, 21),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'F', 6, 5, 699840, 16),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'F', 7, 5, 337449, 9),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'F', 8, 5, 182899, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'M', 3, 5, 563018, 11),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'M', 4, 5, 1651685, 30),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'M', 5, 5, 3171111, 66),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'M', 6, 5, 3578237, 69),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'M', 7, 5, 1954012, 34),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 7, 'M', 10, 5, 137174, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'F', 3, 5, 89620, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'F', 4, 5, 265203, 5),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'F', 5, 5, 959625, 18),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'F', 6, 5, 663009, 14),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'M', 3, 5, 310928, 7),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'M', 4, 5, 1868290, 34),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'M', 5, 5, 1320087, 30),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'M', 6, 5, 2839271, 62),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 8, 'M', 7, 5, 854296, 21),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'F', 3, 5, 142522, 5),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'F', 4, 5, 367131, 7),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'F', 5, 5, 891301, 18),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'F', 6, 5, 322124, 7),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'F', 7, 5, 268704, 7),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'M', 3, 5, 251303, 5),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'M', 4, 5, 2005133, 34),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'M', 5, 5, 1015181, 21),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'M', 6, 5, 1054575, 18),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'M', 7, 5, 480110, 7),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 9, 'M', 8, 5, 114312, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 10, 'F', 5, 5, 221799, 5),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 10, 'F', 6, 5, 108482, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 10, 'F', 8, 5, 21262, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 10, 'M', 3, 5, 208048, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 10, 'M', 4, 5, 785711, 9),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 10, 'M', 5, 5, 582259, 9),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 10, 'M', 6, 5, 182899, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '연료판매', 10, 'M', 7, 5, 330133, 5),
 (datetime.date(2024, 3, 1), '생활서비스', '차량관리/서비스', 7, 'F', 4, 5, 140604, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '차량관리/서비스', 8, 'M', 3, 5, 80018, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '차량관리/서비스', 8, 'M', 5, 5, 427526, 2),
 (datetime.date(2024, 3, 1), '생활서비스', '차량관리/서비스', 9, 'F', 5, 5, 80018, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 4, 'F', 6, 5, 9804, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 4, 'F', 7, 5, 19608, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 4, 'M', 3, 5, 19608, 3),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 4, 'M', 4, 5, 9804, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 4, 'M', 6, 5, 127592, 16),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 4, 'M', 7, 5, 119337, 15),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 4, 'M', 8, 5, 39216, 7),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 4, 'M', 9, 5, 19608, 3),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 5, 'F', 6, 5, 9804, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 5, 'F', 7, 5, 9804, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 5, 'M', 5, 5, 10126, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 5, 'M', 6, 5, 68361, 8),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 5, 'M', 7, 5, 119118, 16),
 (datetime.date(2024, 3, 1), '여가/오락', '숙박', 5, 'M', 8, 5, 9804, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '일반스포츠', 4, 'M', 5, 5, 101764, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '일반스포츠', 5, 'M', 5, 5, 29342, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '일반스포츠', 7, 'M', 6, 5, 30053, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '일반스포츠', 7, 'M', 7, 5, 28324, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '일반스포츠', 9, 'F', 5, 5, 37313, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '일반스포츠', 9, 'M', 6, 5, 35617, 2),
 (datetime.date(2024, 3, 1), '여가/오락', '일반스포츠', 10, 'M', 6, 5, 54545, 3),
 (datetime.date(2024, 3, 1), '여가/오락', '취미/오락', 1, 'M', 6, 5, 440887, 1),
 (datetime.date(2024, 3, 1), '여가/오락', '취미/오락', 1, 'M', 7, 5, 111674, 3)]

# 가공 테이블 생성

## 최근 1년간 연령에 따른 업종 선호도 [2025.02 ~ 2024.03]

In [ ]:
%%sql

CREATE TABLE analytics.age_industry_spending_stats AS
SELECT
  age,
  card_tpbuz_nm_1,
  card_tpbuz_nm_2,
  SUM(amt) AS total_amt,
  SUM(cnt) AS total_cnt,
  ROUND(SUM(amt)::FLOAT / NULLIF(SUM(cnt), 0), 2) AS avg_amt_per_txn
FROM
    raw_data.card_transaction
GROUP BY
    age, card_tpbuz_nm_1, card_tpbuz_nm_2;

 * postgresql://user1:***@default-workgroup.885532410811.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]